---
layout: base.njk
title: Berlin
---

<main class="section has-background-info">
    <div class="container">
        <div class="has-text-centered has-text-black">
            <p class="subtitle is-4 has-text-weight-bold card-hidden">Berlin today</p>
            <div class="mb-4 has-text-right">
                <a href="/" class="button is-link is-light is-rounded is-hovered is-outlined">
                    ← Back to Dashboard
                </a>
            </div>
        </div>
        <div class="columns is-multiline box-hidden mt-1">
            <div class="column is-3">
                <figure class="image is-128x128">
                    <img src="/images/hotterSun.png" alt="Sunny">
                </figure>
            </div>
            <div class="column is-3 is-flex">
                <div class="box has-background-grey-lighter has-text-black has-text-centered">
                    <p class="has-text-weight-semibold">Max Temp</p>
                    <p class="is-size-3">26°C</p>
                </div>
            </div>
            <div class="column is-3 is-flex">
                <div class="box has-background-grey-lighter has-text-black has-text-centered">
                    <p class="has-text-weight-semibold">Max Wind</p>
                    <p class="is-size-3">8 km/h</p>
                </div>
            </div>
            <div class="column is-3 is-flex">
                <div class="box has-background-grey-lighter has-text-black has-text-centered">
                    <p class="has-text-weight-semibold">Right Now</p>
                    <p class="is-size-3">22°C</p>
                    <p>6 km/h</p>
                </div>
            </div>
        </div>
        <div class="has-text-centered has-text-black">
            <p class="subtitle is-4 has-text-weight-bold card-hidden">7 Day forecast</p>
        </div>
        <div class="columns is-multiline box-hidden mt-1">
            <div class="column">
                <div class="box has-background-grey-lighter has-text-black has-text-centered has-text-weight-semibold">
                    <figure class="image is-96x96 ">
                        <img class src="/images/sun.sum.png" alt="Sun">
                    </figure>
                    <p>Today</p>
                    <p>19°C – 26°C</p>
                </div>
            </div>
            <div class="column">
                <div class="box has-background-grey-lighter has-text-black has-text-centered has-text-weight-semibold">
                    <figure class="image is-96x96 ">
                        <img class src="/images/sun.sum.png" alt="Sun">
                    </figure>
                    <p>Mon</p>
                    <p>21°C – 29°C</p>
                </div>
            </div>
            <div class="column">
                <div class="box has-background-grey-lighter has-text-black has-text-centered has-text-weight-semibold">
                    <figure class="image is-96x96 ">
                        <img class src="/images/sun.sum.png" alt="Sun">
                    </figure>
                    <p>Tue</p>
                    <p>16°C – 25°C</p>
                </div>
            </div>
            <div class="column">
                <div class="box has-background-grey-lighter has-text-black has-text-centered has-text-weight-semibold">
                    <figure class="image is-96x96 ">
                        <img class src="/images/sun.sum.png" alt="Sun">
                    </figure>
                    <p>Wed</p>
                    <p>16°C – 24°C</p>
                </div>
            </div>
            <div class="column">
                <div class="box has-background-grey-lighter has-text-black has-text-centered has-text-weight-semibold">
                    <figure class="image is-96x96 ">
                        <img class src="/images/weather.sum.png" alt="sun with cloud">
                    </figure>
                    <p>Thu</p>
                    <p>12°C – 21°C</p>
                </div>
            </div>
            <div class="column">
                <div class="box has-background-grey-lighter has-text-black has-text-centered has-text-weight-semibold">
                    <figure class="image is-96x96 ">
                        <img class src="/images/sun.sum.png" alt="Sun">
                    </figure>
                    <p>Fri</p>
                    <p>12°C – 23°C</p>
                </div>
            </div>
            <div class="column">
                <div class="box has-background-grey-lighter has-text-black has-text-centered has-text-weight-semibold">
                    <figure class="image is-96x96 ">
                        <img class src="/images/weather.sum.png" alt="sun with cloud">
                    </figure>
                    <p>Sat</p>
                    <p>16°C – 24°C</p>
                </div>
            </div>
        </div>
    </div>
</main>