<!DOCTYPE html>
<html class="has-background-info" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Whether Weather</title>
    <link rel="icon" type="image/png" sizes="32x32" href="/images/logo.png" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/versions/bulma-no-dark-mode.min.css" />
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);
            $navbarBurgers.forEach(el => {
                el.addEventListener('click', () => {
                    const target = el.dataset.target;
                    const $target = document.getElementById(target);
                    el.classList.toggle('is-active');
                    $target.classList.toggle('is-active');
                });
            });
        });
    </script>
</head>

<body>
      {% include "nav.njk" %}
        <main class="section has-background-info">
        <div class="container">
            <div class="has-text-centered has-text-black">
                <p class="subtitle is-4 has-text-weight-bold card-hidden">Dublin today</p>
                                <div class="mb-4 has-text-right">
                 <a href="/" class="button is-link is-light is-rounded is-hovered is-outlined">
                    ← Back to Dashboard
                     </a>
            </div>
            </div>
            <div class="columns is-multiline box-hidden mt-1">
                <div class="column is-3">
                    <figure class="image is-128x128">
                        <img src="/images/sunRainCloud.png" alt="Sunny in Dublin">
                    </figure>
                </div>
                <div class="column is-3 is-flex">
                    <div class="box has-background-grey-lighter has-text-black has-text-centered">
                        <p class="has-text-weight-semibold">Max Temp</p>
                        <p class="is-size-3">16°C</p>
                    </div>
                </div>
                <div class="column is-3 is-flex">
                    <div class="box has-background-grey-lighter has-text-black has-text-centered">
                        <p class="has-text-weight-semibold">Max Wind</p>
                        <p class="is-size-3">15 km/h</p>
                    </div>
                </div>
                <div class="column is-3 is-flex">
                    <div class="box has-background-grey-lighter has-text-black has-text-centered">
                        <p class="has-text-weight-semibold">Right Now</p>
                        <p class="is-size-3">11°C</p>
                        <p>10 km/h</p>
                    </div>
                </div>
            </div>
                        <div class="has-text-centered has-text-black">
                <p class="subtitle is-4 has-text-weight-bold card-hidden">7 Day forecast</p>
            </div>
            <div class="columns is-multiline box-hidden mt-1">
                <div class="column">
                    <div class="box has-background-grey-lighter has-text-black has-text-centered has-text-weight-semibold">
                        <p>Today</p>
                        <p>12°C – 16°C</p>
                    </div>
                </div>
                <div class="column">
                    <div class="box has-background-grey-lighter has-text-black has-text-centered has-text-weight-semibold">
                        <p>Mon</p>
                        <p>8°C – 15°C</p>
                    </div>
                </div>
                <div class="column">
                    <div class="box has-background-grey-lighter has-text-black has-text-centered has-text-weight-semibold">
                        <p>Tue</p>
                        <p>8°C – 18°C</p>
                    </div>
                </div>
                <div class="column">
                    <div class="box has-background-grey-lighter has-text-black has-text-centered has-text-weight-semibold">
                        <p>Wed</p>
                        <p>2°C – 10°C</p>
                    </div>
                </div>
                <div class="column">
                    <div class="box has-background-grey-lighter has-text-black has-text-centered has-text-weight-semibold">
                        <p>Thu</p>
                        <p>3°C – 10°C</p>
                    </div>
                </div>
                <div class="column">
                    <div class="box has-background-grey-lighter has-text-black has-text-centered has-text-weight-semibold">
                        <p>Fri</p>
                        <p>1°C – 13°C</p>
                    </div>
                </div>
                <div class="column">
                    <div class="box has-background-grey-lighter has-text-black has-text-centered has-text-weight-semibold">
                        <p>Sat</p>
                        <p>3°C – 11°C</p>
                    </div>
                </div>
            </div>
        </div>
    </main>
      {% include "footer.njk" %}
</body>

</html>