---
layout: base.njk
title: London
---
<main class="section has-background-info">
    <div class="container">
        <div class="has-text-centered has-text-black">
            <p class="subtitle is-4 has-text-weight-bold card-hidden">London today</p>
            <div class="mb-4 has-text-right">
                <a href="/" class="button is-link is-light is-rounded is-hovered is-outlined">
                    ← Back to Dashboard
                </a>
            </div>
        </div>
        <div class="columns is-multiline box-hidden mt-1">
            <div class="column is-3">
                <figure class="image is-128x128">
                    <img src="/images/wind.png" alt="Wind">
                </figure>
            </div>
            <div class="column is-3 is-flex">
                <div class="box has-background-grey-lighter has-text-black has-text-centered">
                    <p class="has-text-weight-semibold">Max Temp</p>
                    <p class="is-size-3">13°C</p>
                </div>
            </div>
            <div class="column is-3 is-flex">
                <div class="box has-background-grey-lighter has-text-black has-text-centered">
                    <p class="has-text-weight-semibold">Max Wind</p>
                    <p class="is-size-3">15 km/h</p>
                </div>
            </div>
            <div class="column is-3 is-flex">
                <div class="box has-background-grey-lighter has-text-black has-text-centered">
                    <p class="has-text-weight-semibold">Right Now</p>
                    <p class="is-size-3">10°C</p>
                    <p>12 km/h</p>
                </div>
            </div>
        </div>
        <div class="has-text-centered has-text-black">
            <p class="subtitle is-4 has-text-weight-bold card-hidden">7 Day forecast</p>
        </div>
        <div class="columns is-multiline box-hidden mt-1">
            <div class="column">
                <div class="box has-background-grey-lighter has-text-black has-text-centered has-text-weight-semibold">
                    <figure class="image is-96x96 ">
                        <img class src="/images/windy.sum.png" alt="windy">
                    </figure>
                    <p>Today</p>
                    <p>7°C – 13°C</p>
                </div>
            </div>
            <div class="column">
                <div class="box has-background-grey-lighter has-text-black has-text-centered has-text-weight-semibold">
                    <figure class="image is-96x96 ">
                        <img class src="/images/cloudy.sum.png" alt="Cloudy">
                    </figure>
                    <p>Mon</p>
                    <p>8°C – 15°C</p>
                </div>
            </div>
            <div class="column">
                <div class="box has-background-grey-lighter has-text-black has-text-centered has-text-weight-semibold">
                    <figure class="image is-96x96 ">
                        <img class src="/images/haze.sum.png" alt="Haze">
                    </figure>
                    <p>Tue</p>
                    <p>8°C – 20°C</p>
                </div>
            </div>
            <div class="column">
                <div class="box has-background-grey-lighter has-text-black has-text-centered has-text-weight-semibold">
                    <figure class="image is-96x96 ">
                        <img class src="/images/sun.sum.png" alt="Sun">
                    </figure>
                    <p>Wed</p>
                    <p>6°C – 18°C</p>
                </div>
            </div>
            <div class="column">
                <div class="box has-background-grey-lighter has-text-black has-text-centered has-text-weight-semibold">
                    <figure class="image is-96x96 ">
                        <img class src="/images/haze.sum.png" alt="Haze">
                    </figure>
                    <p>Thu</p>
                    <p>6°C – 19°C</p>
                </div>
            </div>
            <div class="column">
                <div class="box has-background-grey-lighter has-text-black has-text-centered has-text-weight-semibold">
                    <figure class="image is-96x96 ">
                        <img class src="/images/haze.sum.png" alt="Haze">
                    </figure>
                    <p>Fri</p>
                    <p>1°C – 13°C</p>
                </div>
            </div>
            <div class="column">
                <div class="box has-background-grey-lighter has-text-black has-text-centered has-text-weight-semibold">
                    <figure class="image is-96x96 ">
                        <img class src="/images/cloud.sum.png" alt="cloud">
                    </figure>
                    <p>Sat</p>
                    <p>2°C – 15°C</p>
                </div>
            </div>
        </div>
    </div>
</main>