---
layout: base.njk
title: Paris
---
<main class="section has-background-info">
    <div class="container">
        <div class="has-text-centered has-text-black">
            <p class="subtitle is-4 has-text-weight-bold card-hidden">Paris today</p>
            <div class="mb-4 has-text-right">
                <a href="/" class="button is-link is-light is-rounded is-hovered is-outlined">
                    ← Back to Dashboard
                </a>
            </div>
        </div>
        <div class="columns is-multiline box-hidden mt-1">
            <div class="column is-3">
                <figure class="image is-128x128">
                    <img src="/images/heavyrain.png" alt="Heavy rain">
                </figure>
            </div>
            <div class="column is-3 is-flex">
                <div class="box has-background-grey-lighter has-text-black has-text-centered">
                    <p class="has-text-weight-semibold">Max Temp</p>
                    <p class="is-size-3">16°C</p>
                </div>
            </div>
            <div class="column is-3 is-flex">
                <div class="box has-background-grey-lighter has-text-black has-text-centered">
                    <p class="has-text-weight-semibold">Max Wind</p>
                    <p class="is-size-3">18 km/h</p>
                </div>
            </div>
            <div class="column is-3 is-flex">
                <div class="box has-background-grey-lighter has-text-black has-text-centered">
                    <p class="has-text-weight-semibold">Right Now</p>
                    <p class="is-size-3">12°C</p>
                    <p>12 km/h</p>
                </div>
            </div>
        </div>
        <div class="has-text-centered has-text-black">
            <p class="subtitle is-4 has-text-weight-bold card-hidden">7 Day forecast</p>
        </div>
        <div class="columns is-multiline box-hidden mt-1">
            <div class="column">
                <div class="box has-background-grey-lighter has-text-black has-text-centered has-text-weight-semibold">
                    <figure class="image is-96x96 ">
                        <img class src="/images/rain2.sum.png" alt="rain">
                    </figure>
                    <p>Today</p>
                    <p>9°C – 18°C</p>
                </div>
            </div>
            <div class="column">
                <div class="box has-background-grey-lighter has-text-black has-text-centered has-text-weight-semibold">
                    <figure class="image is-96x96 ">
                        <img class src="/images/rain2.sum.png" alt="rain">
                    </figure>
                    <p>Mon</p>
                    <p>8°C – 15°C</p>
                </div>
            </div>
            <div class="column">
                <div class="box has-background-grey-lighter has-text-black has-text-centered has-text-weight-semibold">
                    <figure class="image is-96x96 ">
                        <img class src="/images/rain2.sum.png" alt="rain">
                    </figure>
                    <p>Tue</p>
                    <p>8°C – 21°C</p>
                </div>
            </div>
            <div class="column">
                <div class="box has-background-grey-lighter has-text-black has-text-centered has-text-weight-semibold">
                    <figure class="image is-96x96 ">
                        <img class src="/images/rain2.sum.png" alt="rain">
                    </figure>
                    <p>Wed</p>
                    <p>5°C – 17°C</p>
                </div>
            </div>
            <div class="column">
                <div class="box has-background-grey-lighter has-text-black has-text-centered has-text-weight-semibold">
                    <figure class="image is-96x96 ">
                        <img class src="/images/extweather.sum.png" alt="extreme">
                    </figure>
                    <p>Thu</p>
                    <p>3°C – 10°C</p>
                </div>
            </div>
            <div class="column">
                <div class="box has-background-grey-lighter has-text-black has-text-centered has-text-weight-semibold">
                    <figure class="image is-96x96 ">
                        <img class src="/images/extweather.sum.png" alt="extreme">
                    </figure>
                    <p>Fri</p>
                    <p>1°C – 12°C</p>
                </div>
            </div>
            <div class="column">
                <div class="box has-background-grey-lighter has-text-black has-text-centered has-text-weight-semibold">
                    <figure class="image is-96x96 ">
                        <img class src="/images/extweather.sum.png" alt="extreme">
                    </figure>
                    <p>Sat</p>
                    <p>3°C – 11°C</p>
                </div>
            </div>
        </div>
    </div>
</main>