---
layout: base.njk
title: Settings
---
<main class="columns is-centered is-inline">
    <section class="section">
        <div class="container">


            <h1 class="title is-1 has-text-centered mb-6">User Settings</h1>

            <div class="columns is-centered is-variable is-8">
                <!-- Favourite Cities -->
                <div class="column is-4">
                    <h2 class="title is-5 has-text-centered mb-3">Favourite Cities</h2>

                    <div class="box has-background-info-light">
                        <div class="field">
                            <label class="checkbox is-flex is-justify-content-space-between is-align-items-center">
                                <span>Dublin</span>
                                <input type="checkbox">
                            </label>
                        </div>

                        <div class="field">
                            <label class="checkbox is-flex is-justify-content-space-between is-align-items-center">
                                <span>Berlin</span>
                                <input type="checkbox" checked>
                            </label>
                        </div>

                        <div class="field">
                            <label class="checkbox is-flex is-justify-content-space-between is-align-items-center">
                                <span>Tokyo</span>
                                <input type="checkbox">
                            </label>
                        </div>

                        <div class="field">
                            <label class="checkbox is-flex is-justify-content-space-between is-align-items-center">
                                <span>New York</span>
                                <input type="checkbox" checked>
                            </label>
                        </div>

                        <div class="field">
                            <label class="checkbox is-flex is-justify-content-space-between is-align-items-center">
                                <span>Paris</span>
                                <input type="checkbox">
                            </label>
                        </div>

                        <div class="field">
                            <label class="checkbox is-flex is-justify-content-space-between is-align-items-center">
                                <span>London</span>
                                <input type="checkbox">
                            </label>
                        </div>
                        <div class="field mt-5">
                            <button class="button is-link is-fullwidth">Save Settings</button>
                        </div>
                    </div>
                </div>

                <div class="column is-4">
                    <h2 class="title is-5 has-text-centered mb-3">Settings</h2>
                    <div class="box has-background-info-light">
                        <div class="field">
                            <label class="label">Temperature Unit</label>
                            <div class="control">
                                <label class="radio mr-4">
                                    <input type="radio" name="unit" checked>
                                    Celsius
                                </label>
                                <label class="radio">
                                    <input type="radio" name="unit">
                                    Fahrenheit
                                </label>
                            </div>
                        </div>
                        <div class="field">
                            <label class="checkbox is-flex is-justify-content-space-between is-align-items-center">
                                <span>7 Day Forecast</span>
                                <input type="checkbox">
                            </label>
                        </div>
                        <div class="field">
                            <label class="checkbox is-flex is-justify-content-space-between is-align-items-center">
                                <span>Gusts</span>
                                <input type="checkbox">
                            </label>
                        </div>
                        <div class="field">
                            <label class="checkbox is-flex is-justify-content-space-between is-align-items-center">
                                <span>Wind</span>
                                <input type="checkbox">
                            </label>
                        </div>
                        <div class="field mt-5">
                            <button class="button is-link is-fullwidth">Save Settings</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
</main>