<footer class="footer has-background-grey-lighter has-text-white">
  <div class="container">
    <div class="content has-text-centered">
      <p>
        <img class="image is-16x16 is-inline"
             src="/images/logo.png"
             alt="Whether">
        Whether Weather.inc
      </p>
    </div>
  </div>
</footer>